#loader::after,
#loader::before,
.floaty_box,
.navigation a:before {
    content: ''
}

#loader::after,
#loader::before {
    position: absolute
}

#logo,
.box_content b,
.logo {
    vertical-align: middle
}

*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@font-face {
    font-family: Caviar-Dreams;
    src: url(../fonts/Caviar-Dreams.ttf.woff) format('woff'), url(../fonts/Caviar-Dreams.ttf.svg#Caviar-Dreams) format('svg'), url(../fonts/Caviar-Dreams.ttf.eot), url(../fonts/Caviar-Dreams.ttf.eot?#iefix) format('embedded-opentype')
}

@font-face {
    font-family: Chivo-Light;
    src: url(../fonts/Chivo-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Chivo-Light.woff2) format('woff2'), url(../fonts/Chivo-Light.woff) format('woff')
}

@font-face {
    font-family: Chivo-Regular;
    src: url(../fonts/Chivo-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Chivo-Regular.woff2) format('woff2'), url(../fonts/Chivo-Regular.woff) format('woff')
}

@font-face {
    font-family: Chivo-Bold;
    src: url(../fonts/Chivo-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Chivo-Bold.woff2) format('woff2'), url(../fonts/Chivo-Bold.woff) format('woff')
}

#loader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000
}

#loader {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px auto auto -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #007dc6;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001
}

#loader::before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #4db848;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

#loader::after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

#loader_wrapper .loader_section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #607D8B;
    z-index: 1000
}

#loader_wrapper .loader_section.section_left {
    left: 0
}

#loader_wrapper .loader_section.section_right {
    right: 0
}

.loaded #loader_wrapper .loader_section.section_left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
}

.loaded #loader_wrapper .loader_section.section_right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.loaded #loader_wrapper {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

body {
    font-family: Chivo-Light, Helvetica, sans-serif;
    font-size: 123%;
    font-size: 1.23vw;
    padding: 0;
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Caviar-Dreams, Arial, sans-serif
}

.contact_form_container,
form h2 {
    font-family: Chivo-Light !important
}

section {
    width: 100%;
    min-height: 500px;
    height: auto;
    padding: 0
}

nav {
    display: flex;
    width: 100%;
    min-height: 15vh;
    background-color: #ffffff81
}

.container {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    background-color: transparent
}

.navigation {
    flex-grow: .5;
    list-style: none;
    height: min-content;
    padding-right: 6%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: flex-end
}

.navigation a {
    position: relative;
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #000
}

.navigation a.active {
    color: #007dc6 !important;
}

.navigation .jezik a {
    margin-left: 1rem;
    color: #1d1d1d65;
}

.navigation .jezik~.jezik a {
    margin-left: 0;
}

.navigation .jezik a {
    padding: 1rem 0;
}

.navigation li#trtica {
    padding-top: 1rem;
}

.navigation a:before {
    background: url(images/underline-link.png) center/contain no-repeat;
    position: absolute;
    width: 80%;
    height: 10px;
    bottom: 10px;
    left: 10%;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.svetlo_container,
.svetlo_container .content,
.tirazi_container,
.tirazi_container .content {
    transition: all .6s ease-in-out
}

.navigation a:focus,
.navigation a:hover {
    color: #007dc6
}

.navigation a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.logo {
    width: 19%;
    flex-shrink: 1
}

#logo {
    width: 90%;
    padding: 4%
}

@media only screen and (max-width:450px) {
    body {
        font-size: 3vw !important
    }
    .logo {
        width: 40% !important
    }
    .navigation {
        padding: 0 !important
    }
    .navigation a {
        padding: .41rem !important
    }
    .navigation .jezik a {
        margin-left: .41rem !important;
    }
    .navigation .jezik~.jezik a {
        margin-left: 0 !important;
    }
    .navigation .jezik a {
        padding: .41rem 0 !important;
    }
    .navigation li#trtica {
        padding-top: .41rem !important;
    }
    .parallax {
        width: 165vw !important;
        -webkit-transform: translate(-50%, -55%) !important;
        transform: translate(-50%, -55%) !important
    }
    .parallax_text {
        width: 48vw !important;
    }
    .parallax_text h1 {
        margin-top: 0;
        width: 76vw !important;
        font-size: 7vw !important
    }
    .parallax_text p {
        font-size: 3.6vw !important
    }
    .parallax~img.text_box[invisible='1'] {
        visibility: hidden !important
    }
    .parallax~img.package {
        width: 50vw !important
    }
    .scissors {
        top: 55vh !important;
        width: 34.6vw !important
    }
    .flap#upper {
        top: 36vh !important
    }
    .flap#lower {
        top: 38vh !important
    }
    section {
        min-height: 300px !important
    }
    .svetlo_container .content .text {
        right: 7% !important;
        width: 77% !important
    }
    b {
        font-size: 120% !important;
        font-size: 3.596vw !important
    }
    .text p {
        width: 100% !important;
        font-size: 400% !important;
        font-size: 3.8vw !important
    }
    .back_content {
        width: 87% !important;
        right: 3% !important
    }
    p.back_text {
        line-height: 4.5vw !important;
        font-size: 3.945vw !important
    }
    form {
        left: 2% !important;
        right: 52% !important
    }
    form h2 {
        font-size: 2.8vw !important
    }
    form p.mini_text {
        font-size: 2.4vw !important;
        margin: 0 !important
    }
    button,
    input,
    input::placeholder,
    textarea,
    textarea::placeholder {
        font-size: .62rem !important;
        font-size: 2.3vw !important
    }
    .zasto_container .floaty_box {
        opacity: .7
    }
    .floaty_box.second {
        left: 4% !important
    }
    .floaty_box.third {
        top: 90% !important;
        right: 17% !important
    }
    .zasto_container ul {
        width: 100% !important;
        font-size: 4vw !important
    }
    .zasto_container ul li {
        line-height: 4.6vw !important
    }
    .tirazi_container .content .text {
        right: 8% !important;
        width: 77% !important
    }
    .text h2 {
        font-size: 6.1vw !important;
        width: 98% !important
    }
    .contact_form_container {
        height: 220px !important
    }
    .box {
        height: 100%
    }
    .box:first-of-type {
        background-position-y: 40% !important
    }
    .box:last-of-type {
        background-position-y: 64.7% !important
    }
    .tipovi_proizvoda_container .text h2 {
        width: 80% !important
    }
    .tipovi_proizvoda_container {
        height: 550px !important
    }
    .proizvodi_boxes {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        height: 80% !important;
        margin-top: 4% !important
    }
    .inner_box_content p {
        top: 60% !important
    }
    .under_box_content {
        height: 8% !important
    }
    .under_box_content p {
        left: 13% !important;
        right: 10% !important;
        font-size: 2.92vw !important
    }
    footer {
        height: 35vw !important;
        min-height: 170px !important
    }
    .flex_footer .content_strip {
        width: 30.5% !important;
        height: 85% !important
    }
    .flex_footer .content_strip ul {
        line-height: 6.5vw !important
    }
    .flex_footer .content_strip:nth-child(2) ul li:nth-child(n+2) {
        line-height: 3.2vw !important
    }
    .footers_footer {
        height: 20px !important
    }
    .footers_footer span {
        width: 54% !important
    }
    table {
        float: none !important;
        width: 70% !important
    }
}

@media only screen and (min-width:450px) and (max-width:800px) {
    body {
        font-size: 1.9vw !important
    }
    .parallax {
        -webkit-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important
    }
    .parallax_text h1 {
        margin-top: 5%;
        margin-left: -8%;
        width: 60vw !important;
        font-size: 268% !important;
        font-size: 5.36vw !important
    }
    .svetlo_container .content .text,
    .tirazi_container .content .text {
        right: 18% !important;
        width: 65% !important
    }
    section {
        min-height: 400px !important
    }
    b {
        font-size: 130% !important;
        font-size: 2.596vw !important
    }
    .text p {
        font-size: 400% !important;
        font-size: 2.4vw !important
    }
    .contact_form_container {
        height: auto !important
    }
    p.back_text {
        font-size: 2.945vw !important
    }
    form h2 {
        font-size: 1.94vw !important
    }
    form p.mini_text {
        font-size: 74.62% !important;
        font-size: 1.42vw !important
    }
    button,
    input,
    input::placeholder,
    textarea,
    textarea::placeholder {
        font-size: .62rem !important;
        font-size: 1.3vw !important
    }
    .zasto_container ul {
        font-size: 2vw !important
    }
    .zasto_container ul li {
        line-height: 3.2vw !important
    }
    .tipovi_proizvoda_container {
        height: 600px !important;
        padding-top: 5% !important
    }
    .proizvodi_boxes {
        height: 70% !important;
        margin-top: 4% !important
    }
    .under_box_content {
        height: 17% !important
    }
    .under_box_content p {
        font-size: 2.3vw !important
    }
    footer {
        min-height: 150px !important
    }
    .flex_footer .content_strip {
        width: 30.5% !important;
        height: 85% !important
    }
    .flex_footer .content_strip ul {
        line-height: 3.5vw !important
    }
    .flex_footer .content_strip:nth-child(2) ul li:nth-child(n+2) {
        line-height: 2.2vw !important
    }
    .footers_footer {
        height: 30px !important
    }
}

@media only screen and (min-width:1450px) {
    .text h2 {
        font-size: 4.8vw !important
    }
    p.back_text {
        font-size: 2.1vw !important;
        line-height: 2.55vw !important
    }
    form h2 {
        font-size: 1.4vw !important
    }
}

.parallax_container {
    clip-path: inset(0);
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: fixed;
    top: 15vh
}

.flap,
.parallax,
.parallax_text,
.scissors {
    position: absolute
}

.parallax {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -44%);
    transform: translate(-50%, -44%);
    width: 95vw;
    max-width: 1900px;
    z-index: 0
}

.parallax~img.package,
.parallax~img.text_box {
    top: 35vh;
    transform-origin: 0 0;
    position: absolute;
    display: block
}

.parallax~img.package {
    left: 30vw;
    width: 35vw
}

.parallax~img.text_box {
    width: 16vw;
    visibility: visible
}

.parallax_text {
    width: 45vw;
    font-weight: 800;
    color: #554b4a
}

.parallax_text h1 {
    width: 35vw;
    font-size: 300%;
    font-size: 3.68vw;
    margin-top: 13%
}

.scissors {
    width: 19.6vw
}

.flap {
    left: -5vh;
    height: 6vw;
    transform-origin: top center
}

.flap#upper {
    top: 38vh
}

.flap#lower {
    top: 41vh
}

.svetlo_container {
    background: url(images/pexels-photo-709848.jpeg) 0 63%/cover no-repeat
}

.svetlo_container .content {
    width: 100%;
    min-height: inherit;
    margin-top: 280vh;
    transform: translateX(-100%);
    opacity: 0;
    background: rgba(255, 255, 255, .9)
}

.svetlo_container .content .text {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 28%;
    width: 55%;
    height: auto;
    background-color: transparent
}

.svetlo_container .wavy_line_green {
    width: 16vw
}

.text h2 {
    font-size: 400%;
    font-size: 4.9vw;
    font-weight: 700;
    margin: 0;
    width: 80%
}

.text p {
    width: 85%;
    margin: 5% 0 0 auto;
    font-size: 140%;
    font-size: 1.72vw
}

.content[slide_in='1'] {
    transform: translateX(0) !important;
    opacity: 1 !important
}

.zasto_container {
    background-color: #fff
}

.zasto_container .content {
    width: 100%;
    min-height: 100%
}

.zasto_container .content .text {
    position: relative;
    margin: 0 auto;
    top: 4%;
    right: 0;
    width: 85%;
    height: auto
}

.tipovi_proizvoda_container h2,
.zasto_container h2 {
    margin: 0 auto
}

.zasto_container div,
.zasto_container ul {
    position: relative;
    width: 75%;
    margin: 5% auto 0
}

.zasto_container ul {
    margin: 1% auto;
    color: #1d1d1d;
    font-size: 120%;
    font-size: 1.473vw
}

.zasto_container ul li {
    line-height: 2.7vw
}

b {
    font-size: 130%;
    font-size: 1.595vw;
    font-weight: 800;
    color: #007dc6
}

.green {
    color: #4db848
}

.b-blobs__b1 {
    position: absolute;
    left: -11%;
    top: 2%;
    width: 40vw;
    height: 40vw
}

.floaty_box {
    position: absolute !important;
    margin: 0 !important;
    background-color: #4db848
}

.floaty_box.first {
    top: 14%;
    left: -3vh;
    width: 10vw !important;
    height: 10vw !important;
    border-radius: 30%;
    transform: rotate(14deg)
}

.floaty_box.second {
    top: 65%;
    left: 8%;
    width: 13.5vw !important;
    height: 13.5vw !important;
    border-radius: 20%;
    transform: rotate(-16deg);
    background-color: #007dc6
}

.floaty_box.third {
    top: 85%;
    right: 22%;
    width: 10.7vw !important;
    height: 10.7vw !important;
    border-radius: 20%;
    transform: rotate(-34deg)
}

.floaty_box.forth {
    top: 25%;
    right: 3%;
    width: 17.2vw !important;
    height: 17.2vw !important;
    border-radius: 45%;
    transform: rotate(14deg);
    background-color: #007dc6
}

.tirazi_container {
    background: url(images/pexels-photo-296878.jpeg) 0 38%/cover no-repeat
}

.tirazi_container .content {
    position: relative;
    width: 100%;
    min-height: inherit;
    transform: translateX(-100%);
    opacity: 0;
    background: rgba(255, 255, 255, .9)
}

.tirazi_container .content .text {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 28%;
    width: 55%;
    height: auto;
    background-color: transparent
}

.tirazi_container .wavy_line_green {
    width: 25.5vw
}

.contact_form_container {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(images/leone-venter-469710-unsplash.jpg) 0 70%/cover no-repeat
}

.back_content {
    position: absolute;
    top: 10%;
    bottom: 30%;
    width: 65%;
    max-width: 900px;
    right: 18%;
    background-color: #4eb848ad
}

button,
form {
    background-color: #fff
}

p.back_text {
    font-weight: 700;
    font-size: 240%;
    font-size: 2.945vw;
    letter-spacing: 10%;
    letter-spacing: .12vw;
    line-height: 3vw;
    width: 49%;
    margin: 14% 0 0 auto;
    color: #fff
}

form {
    position: absolute;
    top: 8%;
    bottom: -50%;
    left: 5%;
    right: 56%
}

.form_content,
.tipovi_proizvoda_container h2 {
    position: relative
}

.form_content {
    display: block;
    width: 77%;
    height: 80%;
    margin: 10% auto
}

form h2 {
    width: min-content;
    margin: 0 auto 5%;
    letter-spacing: 5%;
    letter-spacing: .06vw
}

form p.mini_text {
    text-align: left;
    font-size: 74.62%;
    font-size: .915vw;
    font-weight: 800
}

input:first-of-type {
    margin-top: 0;
}

button,
input,
textarea {
    width: 100%;
    padding: 3% 4%;
    border: 3px solid #4db848;
    margin: 5% auto 2%;
    font: inherit
}

textarea {
    resize: none;
    height: 25%;
    overflow: auto
}

button,
input,
input::placeholder,
textarea,
textarea::placeholder {
    font-family: Chivo-Regular;
    font-weight: 800;
    font-size: 20%;
    font-size: 1vw;
    color: #000;
    opacity: 1
}

button {
    cursor: pointer;
    background-color: #4eb848ad;
    transition: all .8s ease-in-out
}

button:hover {
    background-color: #4eb84850
}

.tipovi_proizvoda_container {
    padding-top: 7%;
    width: 100%;
    height: 850px;
    background-color: #fff
}

h2 img {
    position: absolute;
    display: block;
    width: 45vw;
    bottom: -30%;
    left: 0
}

.proizvodi_boxes {
    position: relative;
    width: 100%;
    height: 45%;
    margin-top: 5%;
    display: flex
}

.proizvodi_boxes .box {
    display: flex;
    width: 100%;
    transition: all .4s ease-in-out
}

.box:nth-child(1) {
    background: url(images/IMG1.jpg) center/cover no-repeat
}

.box:nth-child(2) {
    background: url(images/IMG2.jpg) 0 33%/cover no-repeat
}

.box:nth-child(3) {
    background: url(images/IMG3.jpg) center/cover no-repeat
}

.proizvodi_boxes .box:hover {
    transform: scale(.96)
}

.proizvodi_boxes .box:hover>.box_content {
    visibility: visible;
    opacity: 1
}

.box_content {
    display: table;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all .6s ease-in-out;
    background-color: #4eb848ad
}

.box_content b {
    display: table-cell;
    width: 100%;
    text-align: center;
    font-size: 140%;
    font-size: 1.72vw;
    letter-spacing: 10%;
    letter-spacing: .126vw;
    color: #fff
}

.box:nth-child(2) .box_content b {
    vertical-align: top;
    transform: translateY(15%)
}

.inner_box_content p,
.under_box_content p {
    top: 50%;
    transform: translateY(-50%);
    margin: auto
}

.inner_box_content p {
    position: absolute;
    left: 12%;
    right: 10%;
    color: #fff;
    font-family: Chivo-Light, Helvetica, sans-serif
}

.under_box_content {
    position: relative;
    width: 100%;
    height: 30%
}

.under_box_content p {
    position: absolute;
    left: 20%;
    right: 20%;
    font-size: 140%;
    font-size: 1.72vw
}

.pVisible {
    visibility: visible !important;
    opacity: 1 !important
}

@-webkit-keyframes fade_in {
    100% {
        visibility: visible;
        opacity: 1
    }
}

@-moz-keyframes fade_in {
    100% {
        visibility: visible;
        opacity: 1
    }
}

@-ms-keyframes fade_in {
    100% {
        visibility: visible;
        opacity: 1
    }
}

@-o-keyframes fade_in {
    100% {
        visibility: visible;
        opacity: 1
    }
}

@keyframes fade_in {
    100% {
        visibility: visible;
        opacity: 1
    }
}

footer {
    position: relative;
    width: 100%;
    height: 23vw;
    min-height: 300px;
    color: #fff;
    background-color: #007dc6
}

.flex_footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around
}

.flex_footer .content_strip {
    width: 20.5%;
    height: 70%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start
}

.flex_footer .content_strip:last-child svg {
    margin: 0 0 0 auto
}

.flex_footer .content_strip:last-child p {
    text-align: right;
    margin: 14% 0 0
}

.flex_item {
    margin: 0;
    width: 100%;
    height: min-content;
    text-align: center
}

.flex_footer .content_strip ul {
    padding: 0;
    width: min-content;
    line-height: 200%;
    line-height: 2.5vw;
    list-style: none;
    text-align: left
}

.flex_footer .content_strip:nth-child(2) ul li:nth-child(n+2) {
    line-height: 120%;
    line-height: 1.5vw
}

.flex_footer .content_strip b,
.flex_footer .content_strip ul li:nth-child(1) {
    font-family: Helvetica;
    color: #fff;
    font-size: 125%;
    font-size: 1.534vw;
    font-weight: 600;
    margin-bottom: 15%
}

.footers_footer {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #4db848
}

.footers_footer div {
    position: relative;
    width: 100%;
    height: 100%
}

.footers_footer span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%)
}

footer a,
footer a:active,
footer a:visited {
    color: #fff;
    text-decoration: none;
    transition: all .6s ease-in-out
}

footer a:hover {
    text-decoration: underline
}

.map_container {
    width: 100%;
    height: 70vh
}

.map_container iframe {
    -webkit-filter: saturate(20%);
    filter: saturate(20%);
    transition: all .6s ease-in-out
}

.map_container iframe:hover {
    -webkit-filter: saturate(100%);
    filter: saturate(100%)
}

.info_container {
    width: 100%;
    height: 50vh;
    min-height: 300px
}

.info_container h2 {
    margin: 0 8%;
    letter-spacing: 20%;
    letter-spacing: .245vw
}

table {
    margin: 5%auto;
    width: 45%;
    float: left;
    text-align: center
}

td,
th {
    padding: 2%
}

.in_content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 3vw;
    background: url(images/background_karton.png) no-repeat;
    background-position-y: bottom;
    background-size: 100% 85%;
    z-index: -1
}

.in_content .in_text {
    position: absolute;
    top: 30vh;
    left: 12vw;
    width: 40vw;
    color: #fff
}

.in_content~.footers_footer {
    position: absolute;
    bottom: 0;
    background-color: #1d1d1d86
}